#container {
  overflow: hidden;
}

#firstLink {
  background-color: #fd0;
  width: 100%;
  color: #000;
  text-decoration: underline;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.skip_nav {
  position: absolute;
  left: -10000px;
}

.my_at_menu .menuMobile {
  height: 100%;
}

header {
  position: relative;
}

header.AT_Main {
  background-color: #17232f;
  padding: 7px 0 5px 8px;
  display: block;
}

.desktopView {
  display: none;
  color: #fff;
}

.mobile_menu {
  display: inline-block;
  color: #fff;
}

.column {
  height: 100%;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
}

.MenuMobile{
    display: block;
}

.menu .navRow {
  width: 100%;
  height: auto;
  min-height: 50%;
  position: relative;
}

.menu .menuMobile .column {
  height: 100%;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
}



.menu .menuMobile .navRow .padding {
  padding: 13px 0 10px 13px;
}


.menu1{
  background-color: #303e51;
  color: #fff;
  position: relative;
  width: 100%;
}

.menu1 li{
  list-style: none;
  display: block;
  margin-top: 10px;
  padding: 10px;
}

.menu1-item{
  color: #fff;
  font-size: 14px;
}

.parrafo1{
  font-family: 'Avenir Next W04', Helvetica Neue, Arial, sans-serif;
  font-size: 12px;
  color: gray !important;
  text-align: center !important;
}

.parrafo1 h2{
  color: gray;
  font-size: 12px;
  font-weight: bold;
  
}

.parrafo1 li{
  display: block;
  list-style: none;
}

footer{
  background: #17232f;
}

footer div .item{
  text-align: center
}

.mobile-footer .itemMobile{
  text-align: center;
  display: block;
}

.itemMobile a{
  color: #fff;
  
}

.itemMobile .secondaryLink{
  
  color: #085d96;
  
}

.mobile-footer .itemMobile p{
  color: #fff;
}



@media only screen and (min-width:0px){

  .mobile_menu {
    display: inline-block;
    color: #fff;
  }
  
  .nav-footer{
    display: none;
  }

  .mobile-footer{
    display: block;
  }

  .material-icons{
    display: none;
  }

  .Menu1Desktop{
    display: none;
  }

  .Menu1Mobile{
   display: block;
  }
}

@media only screen and (min-width:769px){

  .menu {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    color: #8795a1;
  }

  .menu .nav-item{
    padding: 10px 10px 10px 13px;
    margin-right: 20px;
  }
  
  .menu .navRow .padding{
    padding: 10px 10px 10px 13px;
  }

  .mobileView {
    display: none;
  }

  .desktopView {
    display: inline-block;
  }

  .menu .logLink a, .menu .logLink span {
    display: inline-block;
  }

  .menu .line {
    position: absolute;
    background-color: #39444f;
  }

  .menu1-item{
    font-size: 18px;
    position: relative;
    width: 80%;
  }

  .menu .lineHorizontal {
    left: 7px;
    right: 7px;
    height: 1px;
    top: 50%;
  }

  .menu .lineVertical {
    left: 0;
    width: 1px;
    top: 6px;
    bottom: 6px;
  }

  .menu .logLink {
    
    float: right;
  }

  .menu .logLink a, .menu .logLink span {
    display: inline-block;
  }

  .menu .menuDesktop {
    position: relative;
    height: 100%;
  }

  .menu .linkSecondary {
    font-size: 13px;
    color: #8795a1;
  }
  
  .menu .linkPrimary {
    font-size: 14px;
    color: #159ad3;
  }
  
  a.linkSecondary:hover{
    color:#159ad3;
  }
  
  a.linkPrimary:hover{
    color:green;
  }

  .menu1 li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
  }

  .parrafo1 li{
    display: inline-block;
    list-style: none;
    border: #000;
    border-style: solid 1px;
  }

  .about{
    color: #0f8cff !important;
  }
  
  .nav-footer{
    display: inline-block;
  }

  .mobile-footer{
    display: none;
  }

  .material-icons{
    display: inline-block;
  }

  .parrafo1{
    font-size: 20px;
  }

  .parrafo1 h2{
    font-size: 20px;
  }

  footer{
    
    color: #fff;
    display: block;
  }

  footer li{
    list-style: none;
    padding: 2px;
    
    
  }

  .footer-img-left{
    margin-top: 15px;
    position: relative;
  }

  .footer-item li{
  display: inline-block;
  text-align: center;
  }

  .footer-item a{
  background-color: transparent;
  color: #fff;
  }

  .footer-item .contact{
  color: #007bcc;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1124px) {

  .menu .logLink{
    display: none;
  }

}